<!--mat-elevation-z4 é uma classe do material para 
    elevarmos nosso header, ele coloca tipo uma sombra.-->
<mat-toolbar class="header mat-elevation-z4">
    <span>
        <a>
            <img class="logo" src="assets/img/logo.png" alt="logo">
        </a>
    </span>
    <span class="title-group">
        <a>
            <!--material-icons é uma classe do material que serve
                para importarmos icones para nossas páginas, logo
                abaixo veremos que basta colocar o nome do icone
                desejado para podermos utiliza-lo.-->
            <i class="material-icons">
                home
            </i>
            Aplicação CRUD
        </a>
    </span>
</mat-toolbar>
