<mat-toolbar class="footer">
    <span>
        Desenvolvido
        <!--material-icons é uma clsse que serve para
            utilizarmos icones do material. 
            red é uma classe que criamos no arquivo css
            principal da aplicação 'style.css', para 
            setar o ícone de coração e o '3' de Cod3r 
            na cor vermelha.
            v-middle é uma classe que criamos no arquivo css
            principal da aplicação 'style.css', para alinhar 
            o coração na linha.-->
        por <strong>Jonathan</strong>
        através dos videos da <strong>Cod<span class="red">3</span>r </strong> 
        <i class="material-icons red v-middle">
            favorite
        </i>
    </span>
</mat-toolbar>
