<mat-sidenav-container class="container">
    <!--mode="side" opened fixedInViewport="true", serve
        para mostrar todas as nossas alterações no
        navegador. Sem elas, não aparecerão.
        fixedTopGap="64" serve para baixar o menu
        e deixá-lo abaixo do header.-->
    <mat-sidenav class="sidenav" mode="side" opened 
        fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <!--A classe mat-list-item serve para que tudo dentro
                da nossa tag <a> receba a estilização e o
                alinhamento adequado.-->
            <a mat-list-item>
                <i class="material-icons">
                    home
                </i>
                Início
            </a>
            <a mat-list-item>
                <i class="material-icons">
                    storefront
                </i>
                Produtos
            </a>
        </mat-nav-list>
    </mat-sidenav>
</mat-sidenav-container>
